.container_1{
    padding:0 20px;
    margin:0 auto;
    max-width: 1200px;
    padding-bottom: 70px;
 }
 
 .container_1 .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color:var(--black);
 }
.container_1 .shopping-cart{
    padding:20px 0;
 }
 
 .container_1 .shopping-cart table{
    width: 100%;
    text-align: center;
    border:var(--border);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
 }
 
 .container_1 .shopping-cart table thead{
    background-color: var(--black);
 }
 
 .container_1 .shopping-cart table thead th{
    padding:10px;
    color:var(--white);
    text-transform: capitalize;
    font-size: 20px;
 }
 
 .container_1 .shopping-cart table .table-bottom{
    background-color: var(--light-bg);
 }
 
 .container_1 .shopping-cart table tr td{
    padding:10px;
    font-size: 20px;
    color:var(--black);
 }
 
 .container_1 .shopping-cart table tr td:nth-child(1){
    padding:0;
 }
 
 .container_1 .shopping-cart table tr td input[type="number"]{
    width: 80px;
    border:var(--border);
    padding:12px 14px;
    font-size: 20px;
    color:var(--black);
 }
 
 .container_1 .shopping-cart .cart-btn{
    margin-top: 10px;
    text-align: center;
 }
 
 .container_1 .shopping-cart .disabled{
    pointer-events: none;
    background-color: var(--red);
    opacity: .5;
    user-select: none;
 }

 @media (max-width:1200px){
    .container_1 .shopping-cart{
       overflow-x: scroll;
    }
 
    .container_1 .shopping-cart table{
       width: 1200px;
    }
 }